.title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 16px;
  color: var(--cinza-claro);
}

.table {
  border-radius: 4px;
  text-align: center;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);

  &-head {
    color: var(--primary);

    &-content {
      padding: 10px;
      border-bottom: 2px solid green;
    }
  }

  &-line {
    margin-bottom: 10px;
    border-radius: 4px;

    &:last-child {
      .table-content {
        border-bottom: none;
      }
    }
  }

  &-content {
    padding: 10px;
    border-bottom: 1px solid var(--cinza-claro);
  }
}
